/* styles/AppStyles.css */
.app-container {
    display: flex;
    height: 100vh;
  }
  
  .content-container {
    flex-grow: 1;
    background-color: #f8f8f8;
    padding: 20px;
    overflow-y: auto;
  }
  