  /* Estilos específicos para EditarHabitacion */

.editar-habitacion-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f9f9f9; /* Color de fondo */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: auto; /* Controla el desbordamiento */
}

.editar-habitacion-titulo {
  text-align: center;
  font-size: 28px;
  color: #b5413f; /* Color del título */
  margin-bottom: 30px;
  font-weight: bold;
}

.editar-habitacion-formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editar-habitacion-fila {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.editar-habitacion-campo {
  flex: 1;
}

.editar-habitacion-campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #374151; /* Color de las etiquetas */
}

.editar-habitacion-campo select,
.editar-habitacion-campo input,
.editar-habitacion-campo textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #3f51b5; /* Color de borde */
  border-radius: 7px;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 16px;
}

.editar-habitacion-campo select:focus,
.editar-habitacion-campo input:focus,
.editar-habitacion-campo textarea:focus {
  border-color: #0023e6;
  outline: none;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
}

textarea {
  resize: vertical;
  min-height: 100px; /* Altura mínima para el textarea */
}

.editar-habitacion-botones {
  display: flex;
  justify-content: space-between;
}

.btn-atras,
.btn-guardar {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold;
}

.btn-atras {
  background-color: #b1b1b1; /* Color del botón de cancelar */
  color: white;
}

.btn-guardar {
  background-color: #89ba89; /* Color del botón de guardar */
  color: white;
}

.btn-atras:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

.btn-guardar:hover {
  background-color: #89ba89;
  transform: scale(1.05);
}

.icon {
  margin-right: 8px;
  color: #425652; /* Color del icono */
  font-size: 18px;
}
