/* styles/SidebarStyles.css */
.sidebar {
  width: 250px;
  background-color: #ffffff; /* Fondo limpio */
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
  font-family: 'Arial', sans-serif; /* Tipografía moderna */
  border-right: 1px solid #e0e0e0; /* Línea de separación */
}

.sidebar-header {
  font-size: 24px; /* Título más grande */
  font-weight: bold; /* Título en negrita */
  margin-bottom: 20px; /* Espaciado debajo del título */
  color: #007BFF; /* Color atractivo para el título */
}

.nav-item {
  margin: 10px 0;
  font-size: 18px; /* Tamaño de fuente más grande */
  cursor: pointer;
  padding: 12px 15px; /* Mayor padding */
  border-radius: 8px; /* Bordes más redondeados */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  display: flex; /* Flexbox para centrar contenido */
  align-items: center; /* Centrar verticalmente */
}

.nav-item a {
  text-decoration: none;
  color: #333; /* Color de texto oscuro */
  flex-grow: 1; /* Permitir que el enlace ocupe todo el espacio disponible */
}

.nav-item:hover {
  background-color: #f0f0f0; /* Color de fondo más suave */
  transform: scale(1.02); /* Efecto de escalado */
}

.nav-item.active {
  background-color: #007BFF; /* Color activo */
  color: white; /* Texto blanco */
}

.icon {
  margin-right: 10px; /* Espaciado entre el icono y el texto */
}

.footer {
  margin-top: auto; /* Empujar el pie de página hacia abajo */
  font-size: 14px; /* Tamaño de fuente más pequeño */
  color: #888; /* Color más suave para el pie de página */
  text-align: center; /* Centrar texto en el pie de página */
  padding: 10px 0; /* Espaciado interno */
  border-top: 1px solid #e0e0e0; /* Línea de separación superior */
}
